img {
  height: 200px;
  width: 200px;
}

.contacts-container{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  align-items: center;
  align-content: center;
  width: 50%;
  overflow: hidden;
}

div {
  display: flex;
  justify-content: right;
  border: 1px solid gray;
}